.logoHeader {
  width: 50px;
  height: 50px;
  margin: 0px 10px 0px 0px; }

@media (max-width: 500px) {
  .formularioBuscar {
    flex-direction: column; } }

.seccion1 {
  width: 100%;
  position: relative; }

.seccion1 img {
  max-width: 100%; }

.seccion1 h2 {
  position: absolute;
  z-index: 9;
  color: white;
  top: calc(50% - 18px);
  left: calc(50% - 106px);
  text-shadow: 10px 10px 10px black; }
