.logoHeader {
  width: 50px;
  height: 50px;
  margin: 0px 10px 0px 0px; }

@media (max-width: 500px) {
  .formularioBuscar {
    flex-direction: column; } }

.seccion1 {
  width: 100%;
  position: relative; }

.seccion1 img {
  max-width: 100%; }

.seccion1 h2 {
  position: absolute;
  z-index: 9;
  color: white;
  top: calc(50% - 18px);
  left: calc(50% - 106px);
  text-shadow: 10px 10px 10px black; }

.seccion2 {
  margin-top: 5%;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%; }

.seccion2 h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 5%; }

.seccion2_1 {
  margin-top: 2%;
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem; }

.seccion2_1_1 {
  display: flex;
  align-items: center;
  gap: 1%; }

.imagenSvg {
  width: 50px; }

footer {
  margin-top: 5%;
  text-align: center; }
